.above-footer {
    background: rgba(0,0,0,.7);
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    .fifty {
        padding: 20px;
    }
    input[type='email'] {
        background: none;
        border: none;
        border-bottom: 2px solid #fff;
        width: 100%;
        text-align: left;
        color: #fff;
        margin-bottom: 20px;
        padding: 5px 10px;
        font-family: $baskerville;
    }
}

.footer-contain {
    width: 100%;
    position: absolute;
    padding-top: 60px;
    .above-footer {
        position: relative;
        z-index: 100;
    }
}

.real-footer {
    background: #000;
    padding: 20px 40px;
    img {
        max-width: 150px;
    }
}

.footer-menu {
    padding: 0;
    font-family: $baskerville;
    font-weight: 700;
    a {
        text-decoration: none;
        display: inline-block;
        border-right: 1px solid #fff;
        padding: 1px 10px;
    }
    a:last-child {
        border: none;
    }
    a:link, a:active, a:visited {
        color: #fff;
    }
}