// Our styles

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "grid.scss";
@import "home.scss";

$roboto: 'Roboto', sans-serif;

body {
    font-family: $roboto;
}

h1, h2, h3 {
    font-weight: 900;
    text-transform: uppercase;
    background: #a22135;
    padding: 5px;
    color: #fff;
}

.swal2-title {
    color: #fff !important;
}